Repository Kotlin/kandy, pull requests merged in 2024-03, with the labels that each got.

#336 Scale updates
  kandy-lets-plot/src/main/kotlin/org/jetbrains/kotlinx/kandy/letsplot/jupyter/Integration.kt
  kandy-lets-plot/src/main/kotlin/org/jetbrains/kotlinx/kandy/letsplot/scales/Transformation.kt
  kandy-lets-plot/src/main/kotlin/org/jetbrains/kotlinx/kandy/letsplot/scales/colorVirdis.kt
  kandy-lets-plot/src/main/kotlin/org/jetbrains/kotlinx/kandy/letsplot/scales/guide/model/AxisPosition.kt
  kandy-lets-plot/src/main/kotlin/org/jetbrains/kotlinx/kandy/letsplot/scales/guide/model/LetsPlotAxis.kt
  kandy-lets-plot/src/main/kotlin/org/jetbrains/kotlinx/kandy/letsplot/translator/scaleWrap.kt
Labels: enhancement, lets-plot

#347 Add echarts rendering for kotlin notebooks and refactor integration
  kandy-echarts/src/main/kotlin/org/jetbrains/kotlinx/kandy/echarts/Integration.kt
  kandy-echarts/src/main/kotlin/org/jetbrains/kotlinx/kandy/echarts/io/EchartsConfig.kt
  kandy-echarts/src/main/kotlin/org/jetbrains/kotlinx/kandy/echarts/io/html.kt
  kandy-echarts/src/main/kotlin/org/jetbrains/kotlinx/kandy/echarts/io/json.kt
  kandy-echarts/src/main/kotlin/org/jetbrains/kotlinx/kandy/echarts/jupyter/Integration.kt
  kandy-echarts/src/main/kotlin/org/jetbrains/kotlinx/kandy/echarts/jupyter/JupyterHtmlRenderer.kt
  kandy-echarts/src/main/kotlin/org/jetbrains/kotlinx/kandy/echarts/translator/Parser.kt
  kandy-echarts/src/test/kotlin/org/jetbrains/kotlinx/kandy/echarts/dsl/animations.kt
  kandy-echarts/src/test/kotlin/org/jetbrains/kotlinx/kandy/echarts/dsl/labels.kt
  kandy-echarts/src/test/kotlin/org/jetbrains/kotlinx/kandy/echarts/jupyter/MonoIntegrationTest.kt
  kandy-echarts/src/test/kotlin/org/jetbrains/kotlinx/kandy/echarts/nullableData.kt
  kandy-echarts/src/test/resources/testData/jupyter/echarts plot should render normally.out
Labels: echarts, kotlin notebook

#348 Update the Jupyter API version
  gradle.properties
  kandy-lets-plot/src/main/kotlin/org/jetbrains/kotlinx/kandy/letsplot/util/rendering.kt
Labels: kotlin notebook
